#https://editor.swagger.io/
swagger: "2.0"
info:
  description: "Canton Service GR"
  version: "1.0.0"
  title: "Kantonsservice GR"
host: "gr.corona-navigator.ch"
basePath: "/v1"

schemes:
  - "https"
paths:
  /incidences/:
    get:
      tags:
        - "incidences"
      summary: "Liefert alle vorhandenen Datensätze aller Gemeinden"
      parameters:
        - in: "query"
          name: "dateFrom"
          type: "string"
          example: "2021-03-01"
          description: "dateFrom - Startdatum inklusive. Falls nicht definiert, alle Datensätze seit Beginn"
        - in: "query"
          name: "dateTo"
          type: "string"
          example: "2021-03-31"
          description: "dateTo - Enddatum inklusive. Falls nicht definiert, alle Datensätze bis heute"
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Incidence"
        "400":
          description: "Bad Request"
        "500":
          description: "Internal Server Error"
  /incidences/{bfsNr}/:
    get:
      tags:
        - "incidences"
      summary: "Liefert die Inzidenz für eine spezifische Gemeinde"
      parameters:
        - in: "path"
          name: "bfsNr"
          type: "integer"
          required: true
          description: "bfsNr"
        - in: "query"
          name: "dateFrom"
          type: "string"
          example: "2021-03-01"
          description: "dateFrom - Startdatum inklusive. Falls nicht definiert, alle Datensätze seit Beginn"
        - in: "query"
          name: "dateTo"
          type: "string"
          example: "2021-03-31"
          description: "dateTo - Enddatum inklusive. Falls nicht definiert, alle Datensätze bis heute"
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Incidence"
        "400":
          description: "Bad Request"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
  /municipalities/:
    get:
      tags:
        - "municipalities"
      summary: "Liefert alle im Kantonsservice verfügbaren Gemeinden"
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Municipality"
        "400":
          description: "Bad Request"
        "500":
          description: "Internal Server Error"
  /municipalities/{bfsNr}/:
    get:
      tags:
        - "municipalities"
      summary: "Liefert für eine verfügbare Gemeinde"
      parameters:
        - in: "path"
          name: "bfsNr"
          type: "integer"
          required: true
          description: "bfsNr"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Municipality"
        "400":
          description: "Bad Request"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
definitions:
  Municipality:
    type: "object"
    properties:
      bfsNr:
        type: "integer"
        format: "int64"
      name:
        type: "string"
        format: "string"
      canton:
        type: "string"
        format: "string"
      area:
        type: "number"
        format: "float"
      population:
        type: "integer"
        format: "int64"
  Incidence:
    type: "object"
    properties:
      bfsNr:
        type: "integer"
        format: "int64"
      date:
        type: "string"
        format: "date"
      incidence:
        type: "number"
        format: "float"
