#https://editor.swagger.io/
swagger: "2.0"
info:
  description: "Canton Service GR"
  version: "1.0.0"
  title: "Kantonsservice GR"
host: "gr.corona-navigator.ch"
basePath: "/v1"

schemes:
- "https"
paths:
  /incidences/:
    get:
      tags:
      - "incidences"
      summary: "Liefert alle vorhandenen Datensätze aller Gemeinden"
      responses:
        "200":
          description: "OK"
  /incidences/{bfsNr}/:
    get:
      tags:
      - "incidences"
      summary: "Liefert die Inzidenz für eine spezifische Gemeinde"
      parameters:
        - in: path
          name: bfsNr
          type: integer
          required: true
          description: "bfsNr"
      responses:
        "200":
          description: "OK"
  /municipalities:
    get:
      tags:
      - "municipalities"
      summary: "Liefert alle im Kantonsservice verfügbaren Gemeinden "
      responses:
        "200":
          description: "OK"
  /municipalities/{bfsNr}/:
    get:
      tags:
      - "municipalities"
      summary: "Liefert für eine verfügbare Gemeinde"
      parameters:
        - in: path
          name: bfsNr
          type: integer
          required: true
          description: "bfsNr"
        - in: query
          name: dateFrom
          schema:
            type: date
            pattern: /([0-9]{4})-(?:[0-9]{2})-([0-9]{2})/
            example: "2020-08-01"
          description: "dateFrom"
        - in: query
          name: dateTo
          schema:
            type: date
            pattern: /([0-9]{4})-(?:[0-9]{2})-([0-9]{2})/
            example: "2020-08-30"
          description: "dateTo"
      responses:
        "200":
          description: "OK"